/* VARIABLES */
:root {
	--ff-body: Seravek, "Gill Sans Nova", Ubuntu, Calibri, "DejaVu Sans",
		source-sans-pro, sans-serif;
	--ff-heading: "Segoe Print", "Bradley Hand", Chilanka, TSCu_Comic, casual,
		cursive;

	--font-size-300: clamp(0.8333rem, 0.7754rem + 0.2899vw, 1rem);
	--font-size-400: clamp(1rem, 0.913rem + 0.4348vw, 1.25rem);
	--font-size-500: clamp(1.2rem, 1.0739rem + 0.6304vw, 1.5625rem);
	--font-size-600: clamp(1.44rem, 1.2615rem + 0.8924vw, 1.9531rem);
	--font-size-700: clamp(1.728rem, 1.4799rem + 1.2407vw, 2.4414rem);
	--font-size-800: clamp(2.0736rem, 1.7334rem + 1.7011vw, 3.0518rem);
	--font-size-900: clamp(2.4883rem, 2.027rem + 2.3067vw, 3.8147rem);

	--clr-primary: #ee9b00;
	--clr-primary-2: #fc6d35;
	--clr-dark: #1b1818;
	--clr-light: #fff;
	--clr-grey: #787878;
	--clr-grey-2: #414345;
	--clr-red: #e21f22;
	--clr-green: #5bbf1d;
	--clr-overlay: rgb(0, 0, 0, 0.6);

	--bg-gradient: linear-gradient(to right, #232526, #73777b);

	--box-shadow: 0px 5px 10px 0 rgba(0, 0, 0, 0.4);

	--border-radius-1: 8px;
	--border-radius-2: 50px;
}

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: var(--ff-body);
	font-size: var(--font-size-400);
	color: var(--clr-light);
	background: var(--bg-gradient);
	line-height: 1.2;
}

h1,
h2,
h3,
h4 {
	font-family: var(--ff-heading);
}

h1 {
	font-size: var(--font-size-900);
}

h2 {
	font-size: var(--font-size-700);
}

h3 {
	font-size: var(--font-size-500);
}

h4 {
	font-size: var(--font-size-400);
}

input,
button,
textarea,
select {
	font: inherit;
}

a {
	color: inherit;
	text-decoration: none;
}

ul {
	list-style: none;
}

button {
	display: inline-block;
	cursor: pointer;
	background: var(--clr-grey);
	color: var(--clr-light);
	font-size: var(--font-size-500);
	font-weight: 600;
	border: none;
	padding: 0.5em 1.5em;
	border-radius: var(--border-radius-1);
	box-shadow: var(--box-shadow);
	transition: transform 0.2s ease-in-out;
}

button:hover {
	transform: scale(1.1);
}

button:active {
	opacity: 0.9;
}

button:focus {
	outline: 1px solid var(--clr-dark);
}

/* LAYOUT */
.container {
	width: min(90%, 85rem);
	margin: 0 auto;
}

/* HEADER */
header {
	padding: 3rem 0 1.5rem;

	position: sticky;
	top: 0;
	z-index: 1;
}

header::after {
	content: "";
	width: 100%;
	height: 100%;
	background: url(imgs/library-background.jpg) no-repeat center/ cover;
	filter: grayscale(100%) blur(2px);
	box-shadow: var(--box-shadow);

	position: absolute;
	top: 0;
	left: 0;
	z-index: -2;
}

header::before {
	content: "";
	width: 100%;
	height: 100%;
	background: var(--clr-overlay);
	filter: blur(2px);

	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
}

header h1 {
	text-align: center;
}

header .library-ledger {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 2rem;
	margin: 3rem 0 2rem;
}

header .library-ledger .books-number {
	font-size: var(--font-size-600);
	font-family: var(--ff-heading);
}

header .library-ledger .books-number span {
	color: var(--clr-primary);
	font-weight: 700;
	border-bottom: 1px solid currentColor;
}

/* --Form Modal-- */
header .form-modal {
	width: min(80%, 25rem);
	padding: 2rem;
	border: none;
	border-radius: var(--border-radius-1);
	background: var(--clr-grey);

	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

header .form-modal::backdrop {
	background: var(--clr-overlay);
}

header .form-modal[open] {
	animation: fade-in 0.5s forwards;
	animation: scale-up 0.5s forwards;
}

header .form-modal[open]::backdrop {
	animation: fade-in 0.5s forwards;
}

header .form-modal[closing] {
	animation: fade-out 0.5s forwards;
}

header .form-modal[closing]::backdrop {
	animation: fade-out 0.5s forwards;
}

header .form-modal .close-btn {
	display: block;
	padding: 0.1em 0.3em 0.05em;
	margin: 0 0 1rem auto;
	color: var(--clr-light);
	align-self: end;
	border-radius: var(--border-radius-2);
	box-shadow: none;
	background: none;
	transition: transform 0.3s ease-in-out;
}

header .form-modal .close-btn:hover {
	transform: rotate(180deg) scale(1.3);
}

/* --Form-- */
header .library-form {
	color: var(--clr-light);

	display: flex;
	flex-direction: column;
	gap: 2rem;
}

header .library-form fieldset {
	border: none;
}

header .library-form legend {
	font-size: var(--font-size-600);
	font-weight: 700;
	text-align: center;
	margin-bottom: 1rem;
	border-bottom: 2px solid currentColor;
}

header .library-form .input-wrapper {
	margin-bottom: 1.5rem;

	display: flex;
	flex-direction: column;
	gap: 0.5rem;
}

header .library-form .input-wrapper > label {
	margin-left: 0.5rem;
	font-size: var(--font-size-300);
	text-transform: uppercase;
	font-weight: 700;
	letter-spacing: 1px;
}

header .library-form .input-wrapper > input {
	padding: 0.3rem 0.5rem;
	border: none;
	border-radius: var(--border-radius-2);
}

header .library-form .input-wrapper > input:focus {
	outline: 0;
	border: 2px solid var(--clr-green);
	box-shadow: var(--box-shadow);
}

header .library-form .input-wrapper > input:focus:invalid {
	border: 2px solid var(--clr-red);
}

header .library-form .required-label {
	color: var(--clr-red);
	border: none;
}

header .library-form .status-field {
	margin: 0;

	align-items: start;
	gap: 0.5rem;
}

header .library-form .radio-btn input {
	accent-color: var(--clr-red);
	margin-right: 0.2rem;
}

header .library-form .add-book-btn {
	background: var(--clr-light);
	color: var(--clr-dark);
	font-size: var(--font-size-400);
}

/* LIBRARY SECTION */
#library {
	padding: 3rem 0;

	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
	gap: 3rem;
}

#library .library-book-card {
	background: var(--clr-overlay);
	padding: 2rem;
	border-radius: var(--border-radius-1);
	box-shadow: var(--box-shadow);

	position: relative;

	display: flex;
	flex-direction: column;
	gap: 2rem;
}

#library .library-book-card::before {
	content: "";
	width: 100%;
	height: 100%;
	background: url(imgs/library-card.jpg) no-repeat center / cover;
	filter: grayscale(100%) blur(2px);
	border-radius: var(--border-radius-1);

	position: absolute;
	top: 1px;
	left: 0;
	z-index: -1;
}

#library .library-book-card h2 {
	text-align: center;
}

#library .library-book-card ul li {
	font-size: var(--font-size-500);
	margin-bottom: 0.5rem;
}

#library .library-book-card ul li:last-child {
	margin: 0;
}

#library .library-book-card span {
	color: var(--clr-primary);
	font-family: var(--ff-heading);
	font-weight: 600;
}

#library .library-book-card .status-icon {
	cursor: pointer;
	margin-left: 0.5rem;
	font-size: var(--font-size-500);
	color: var(--clr-primary-2);

	transition: transform 0.4s ease-in-out;
}

#library .library-book-card .status-icon:hover {
	transform: rotate(360deg) scale(1.3);
}

#library .library-book-card .status-icon:active {
	opacity: 0.8;
}

#library .library-book-card .trash-icon {
	cursor: pointer;
	background: var(--clr-red);
	color: var(--clr-dark);
	font-size: var(--font-size-400);
	border-radius: var(--border-radius-1);
	box-shadow: var(--box-shadow);
	padding: 0.6em;
	margin: auto 1rem 1rem 0;
	align-self: end;
	transition: transform 0.2s ease-in-out;
}

#library .library-book-card .trash-icon:hover {
	transform: scale(1.1);
}

#library .library-book-card .trash-icon:active {
	opacity: 0.8;
}

/* ANIMATIONS */
@keyframes fade-in {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

@keyframes fade-out {
	0% {
		opacity: 1;
	}

	100% {
		opacity: 0;
	}
}

@keyframes scale-up {
	0% {
		transform: translate(-50%, -50%) scale(0);
	}

	100% {
		transform: translate(-50%, -50%) scale(1);
	}
}
